.section-1 {
  background: url("./../img/section1_bg.png");
  background-size: cover;
  padding-top: 30px;
  &-content {
    padding: 200px 0 100px;
    h1 {
      font-size: 42px;
      display: block;
      span {
        font-weight: bold;
      }
    }
    a span {
      font-size: 22px;
      margin-bottom: 15px;
      font-weight: 600;
    }
    ul {
      padding: 0;
    }
    li, li a {
      list-style-type: none;
      font-size: 16px;
      color: #282528;
      text-decoration: none;
    }
    li:before {
      content: ">";
      margin-right: 10px;
    }
    .buttons {
      display: flex;
      width: 100%;
      margin-top: 50px;
    }
    .first {
      margin-right: 15px;
    }

  }
}