.section-5 {
  padding-bottom: 100px;
  background: #fafafa;
  .section-5_image {
    background-color: #e9eaeb;
    height: 260px;
    position:relative;
  }
  .block {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background-color: #f8e72b;
    display: none;
    text-align: center;
    padding: 25px 25px 0 25px;
  }
    .section-5_icon {
      padding-top: 40px;
    }
  .block p {
    text-decoration: none;
    color: #282528;
    font-size: 16px;
  }
  .section-5_image:hover .block{
    display: block;
  }
  .section-5_text a {
    color: #282528;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
  }
}