.section-7 {
  border-bottom: 10px solid #f8e514;
  p span {
    font-weight: bold;
    color: #282528;
    font-size: 24px;
  }
  input {
    border: none;
    border-bottom: 1px solid;
    padding: 10px 15px;
    width: 100%;

    &:focus {
      outline: none;
      background: yellow;
    }

    &::placeholder {
      font-size: 13px;
      color: #5b646e;
    }
  }
  .section-7_text {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .section-7_text a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
    font-size: 20px;
  }
  .post::before {
    background: url('../img/Post.png') no-repeat;
    content: "";
    float: left;
    height: 23px;
    width: 35px;
    margin-right: 15px;
  }

  /*Icon Social Network*/
  .social_network {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
  }
  .icon_social {
    padding-bottom: 20px;
  }
  /*Icon Social Network*/
  .section-7_image img {
    max-width: 100%;
    height: auto;
  }
  .section-7_image {
    position:absolute;   /*Прижата картинка до нижнього блока*/
    bottom:0;
  }


}