@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600|Open+Sans:400,600&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif; /*Замість шрифта Proxima Nova*/
    font-family: 'Open Sans', sans-serif;
}

/*Стилі для Header*/

/*Стилі для навігації*/
a {
    color: black;
    white-space: nowrap;
}

/*Вирівнювання логотипу*/
#navbar {
    padding-left: 1px;
    padding-right: 1px;
}

/*Відступ між Kont. та Log.*/
#pad-right {
    padding-right: 40px;
}

/*Жирність кнопки Login*/
#fw {
    font-weight: 600;
}

/*Адаптивне лого*/
img {
    max-width: 200px;
}


/*Кінець стилів Header*/
/*Перший блок початок*/

.first_block {
    background-image: url("img/background.png");
    background-size: cover;
    background-position: center center; /*вирівнює бекграунд*/
}

.first_block > div {
    padding-top: 60px; /*ВІДСТУПИ БЛОКА*/
    padding-bottom: 100px; /*ВІДСТУПИ БЛОКА*/
}

.header_text {
    color: #064766;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
}

/*ТРЕБА ЗАБРАТИ ВІДСТУПИ МІЖ ЗАГОЛОВКАМИ*/
.subtitle {
    color: #526671;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

.first_block_text {
    font-family: 'Josefin Sans', sans-serif;
    color: #3a3a3a;
    margin: 50px 0 50px;
}

/*КНОПКА*/
.button {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background: transparent;
    color: #526671;
    padding: 13px 35px;
    border: 2px solid transparent;
    transition: .5s;
}

.button:hover {
    color: #fff;
    background: #526671;
    text-decoration: none;
}

/*КНОПКА*/
.color_button {
    color: #064766;
    border: 1px solid;
}


@media (max-width: 400px) {
    .button {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .mobile_vision {
        text-align: center;
        margin-top: 5px;
        max-width: 167px;
        white-space: nowrap;
    }
}

/*Перший блок кінець*/
/*2nd block - Was bieten wir Beginning*/
section {
    background-color: #fafafa;
}

.second_block_section {
    /*max-height: 800px;*/
    padding-top: 80px;
    padding-bottom: 50px;
}

.second_block_section p {
    Font-size: 16px;
    color: #373737;
}

.h2_header { /*Використовуємо цей клас для h2 заголовків*/
    color: #064766;
    Font-Size: 36px;
    line-height: 36px;
    padding-top: 36px;
    padding-bottom: 36px;
    margin: 0;
}

/*2nd block - Was bieten wir End*/
/* ТРЕБА ВИДАЛИТИ ПАПКУ .idea з репозіторія */
/*!**/


/*Стилі для блоку 3 Hohe Flexibiltät та наступних*!*/

.section-3 {
    background: #fafafa;
    padding-bottom: 160px;
}

.section-3 .container {
    overflow-x: hidden;
}

.item-wrap {
    margin-bottom: 30px;
}

.section-3 .item {
    min-height: 300px;
    background: #ffffff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -45px;
    margin-right: -45px;
}

.section-3 .item-wrap:nth-child(even) .item {
    flex-direction: row-reverse;
}

.section-3 .item > .text, .section-3 .item > .img {
    padding: 0 45px;
}

.section-3 .item > .text {
    flex-basis: 75%;
    color: #373737;
}

.section-3 .item > .text h3 {
    font-size: 30px;
    color: #22769f;
    font-family: 'Open Sans', sans-serif;
}

.section-3 .item > .img img {
    max-width: 130px;
}

@media (max-width: 560px) {
    .section-3 .item {
        flex-direction: column;
    }

    .section-3 .item-wrap:nth-child(even) .item {
        flex-direction: column;
    }

    .section-3 .item > .img {
        padding: 20px 0 20px 0;
    }

    .item-wrap {
        margin-bottom: 15px;
    }
}

/*Кінець стилів для блоку 3 Hohe Flexibiltät та наступних*!*/


/*БЛОК 4 - Ein gemeinsames Netzwerk - ПОЧАТОК*/
.section-4 {
    background: url("img/section-4-bg.png");
    background-size: cover;
    margin-bottom: 140px;
}

.section-4 .row .h3 {
    padding-top: 180px;
    padding-bottom: 70px;
    text-align: center;
    color: #064766;
}

.section-4 .button_partner_werden {

    margin: 0 auto 140px;
    text-align: center;
}

.section-4 .button a {
    color: #064766;
    text-decoration: none;
    list-style-type: none;
}

@media (max-width: 760px) {
    .section-4 {
        margin-bottom: 0;
    }
}
@media (max-width: 560px) {
    .section-4 {
        margin-bottom: 0;
    }
    .section-4 .row .h3{
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .section-4 .button_partner_werden{
        margin-bottom: 50px;
    }
}

/*БЛОК 4 - Ein gemeinsames Netzwerk - КІНЕЦЬ*/


/*Стилі для блоку 7 Partner Werden*!*/
.section-7 .item > .text h3 {
    font-size: 30px;
    color: #064766;
    font-family: 'Open Sans', sans-serif;
}

.section-7 .item > .text {
    flex-basis: 75%;
    color: #373737;
}

.section-7 .item > .text h6 {
    font-size: 20px;
    color: #22769f;
    font-family: 'Open Sans', sans-serif;
}

/*=================потрібно забрати сірий бекграунд у 7го сектору===========*/
/*Кінець стилів для блоку Partner Werden*!*/

/*Блок #11 Перша панель*/

.flex-itm {
    display: flex;
    margin-top: 30px;
}

.wrapper_item {
    background: #fafafa;
    min-height: 300px;
    max-width: 560px;
    position: relative;
    padding: 24px 45px 20px 75px;
}

.wrapper_item:first-child {
    margin-right: 30px;
}

h5::before {
    content: '';
    background: url(img/section11/logo_block_11.png);
    background-size: 30px 30px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 25px;
    left: 30px;
}

.wrapper_item p {
    margin-bottom: 50px;
    font-size: 16px;
    color: #373737;
}

.text_h5 {
    font-size: 24px;
    color: #50656f;
    margin-bottom: 35px;
}

@media (max-width: 760px) {
    .flex-itm {
        flex-direction: column;
    }

    .wrapper_item {
        margin-left: 15px;
    }

    .wrapper_item:first-child {
        margin: -13px 15px 15px;
    }

    .wrapper_item:last-child {
        margin-right: 15px;
    }
}

/*Блок #11 Перша панель*/


/*Початок блоку Kontakt*/

.section-6 {
    background: #ffffff;
}

/*Медіа запит для вирівнювання Kontakt*/
@media (max-width: 560px) {
    .section-6 .row .col-md-6:first-child {
        text-align: center;
    }

}

.content {
    margin-top: 45px;
    margin-bottom: 243px;
}

/*Стилі для заголовків h2.size */
.h2-size {
    color: #064766;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 36px;
}

/*Стилі для вибірки з p*/
.section-6 div p {
    font-size: 13px;
}

/*Вибірка та стилі для h4*/
div h4 {
    color: #527f96;
    font-size: 14px;
    font-weight: 600;
}

div h4:nth-child(odd) {
    color: #373737;
}

div h4:nth-child(even) {
    margin-top: 44px;
    margin-bottom: 16px;
}

/*Кінець блоку Kontakt*/

/*Початок блоку Kontakt частина з Формою*/
form {
    background-color: #fafafa;
    height: 90%;
    margin: 90px 0px 0px 0px;
    padding: 20px 20px 0px 20px;
}

.form-group {
    font-size: 80%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}

.form44 .form-row input.form-control, .form44 .form-group textarea.form-control {
    border-style: none;
    border-radius: unset;
    border-bottom: 1px solid black;
    background-color: #fafafa;
    font-size: 110%;

}

.form44 button {
    float: right;
    background-color: #fafafa;
    color: #064766;
    font-weight: bold;
    border: 1px solid #064766;
    width: 30%;
}

.form44 button:hover {
    background-color: #fafafa;
    border: 1px solid #000000;
    color: #064766;
}

/*Кінець блоку Kontakt Форма*/

/*FOOTER*/
footer {
    display: flex;
    background: #fff;
    line-height: 19px;
}

.right_footer {
    display: flex;
    justify-content: flex-end;
}

.left_footer {
    color: #373737;
    font-size: 14px;
    margin-top: 45px;
    margin-bottom: 45px;
    white-space: nowrap;
}

.down_menu {
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    margin-bottom: 45px;
}

.right_footer li {
    list-style-type: none;
    padding-left: 20px;
}

.down_menu li a {
    text-decoration: none;
    color: #526671;
    font-size: 14px;
}

.footer_menu:nth-child(5) {
    padding-right: 50px;
}

.down_menu li a:hover {
    color: black;
}

@media (max-width: 560px) {
    .down_menu {
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
    }

    .left_footer {
        text-align: center;
    }

    .footer_menu {
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
    }

    .wrap_footer {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 760px) {
    .wrap_footer {
        display: flex;
        flex-direction: column-reverse;
    }

    .left_footer {
        text-align: center;
    }

    .footer_menu:nth-child(5) {
        padding-right: 0;
    }
}

/*FOOTER*/
>>> >>> > dev
